[Unit]
Description=Daily Backup of User's Storage Directories
Documentation=man:borg(1)

[Timer]
OnCalendar=*-*-* 6:00:00
RandomizedDelaySec=2m
Persistent=true

[Install]
WantedBy=timers.target
