[Unit]
Description=Backup of User's Storage Directories
Documentation=man:borg(1)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usb/bin/python3 %h/.local/lib/backup/make-backup.py
